body {
    font-family: 'Zen Dots', cursive;
    background-image: url(./assets/start-background.jpeg);

}

.start-screen{
    color: rgb(255, 179, 80);
}

#game {
    display: none;
    background-image: url(./assets/space-background.png);
}