body {
    font-family: 'Zen Dots', cursive;
    color: rgb(255, 179, 80);
    background-image: url(./assets/start-background.jpeg);
}

.start-screen{
    display: block;
}

.modal-content{
    border: solid .4em whitesmoke;
    background-color: #cbc3e3;
}

.modal-title, .modal-body{
    color: black;
}

.play-screen {
    display: none;
}

 #game { 
    border: .5em solid rgb(56, 100, 126);
    background-color: white;
    background-image: url(./assets/space-background.png);
 } 